body {
	background-image: url('img/tlo.png'); /* Background pattern from subtlepatterns.com */
	color: #ccc;
	padding-top: 70px;
}
.navbar-right {
	margin-right: 150px;
}
.guestInfo {
	background-color: #eee;
	border-radius: 5px;
	color: #000;
	margin: 5px;	
}
.guestName {
	margin-top: 0;
}
.more {
	margin-top: 10px;
}